@import "bootstrap/bootstrap-grid";
@font-face {
  font-family: goldenratio_demo;
  src: url("../assets/fonts/goldenratio_demo.ttf");
}

@font-face {
    font-family: "oxygen_light";
    src: url("../assets/fonts/oxygen_light.ttf");
}

@font-face {
    font-family: "punktype";
    src: url("../assets/fonts/punktype.ttf");
}

@font-face {
    font-family: "Dirty_Play";
    src: url("../assets/fonts/Dirty_Play.ttf");
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}


$brand-color: #18B89D;
$brand-secondary: #AC1439 ;
$black: #232425;
$white: #FFF;
$font: oxygen_light;
$heading: goldenratio_demo;

* {
  font-family: inherit;
}

body, p {
    font-size: 18px;
    font-family: $font;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3 {
  @extend .heading-styles;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  color: $brand-secondary;
  font-family: $heading;
}

h3 {
  font-size: 10px;
  font-family: $font;
  font-weight: 300;
}

ol, ul, li {
  font-family: $font;
  font-size: 18px;
  line-height: 32px;
}
header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(20, 20, 20, 0);
  transition: background-color 0.2s ease;
  &.opaque {
    background-color: rgba(20, 20, 20, 0.6);
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type {
          margin-left: 0;
        }
        &.menu {
          color: $white;
          cursor: pointer;
          display: none;
          font-size: 20px;
        }
        a {
          color: $white;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: grey;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid $brand-color;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 24px;
  }
}
.top_home {
  width: 100%;
  height: 100%;
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project_title {
  width: 100%;
  z-index: 1;
  position: fixed;
  margin-left: 0px;
  background-color: $white;
  margin-top: -100px;
  padding-top: 80px;
  img {
    float: left;
  }
  h1 {
    font-family: $heading;
    text-align: left;
    padding-top: 10px;
  }
}

.project_tech_top {
  border: 1px $brand-secondary;
  padding-top: 50px;
  text-align: justify;
  margin-top: 100px;
  margin-left: 20px;
  h2 {
  font-family: $heading;
  color: $black;
  padding-bottom: 20px;
  }
  div {
   background-color: $white ;
 }
}

.project_tech {
  border: 1px $brand-secondary;
  // padding-top: 20px;
  text-align: justify;
  // margin-top: 30px;
  margin-left: 20px;
  h2 {
  font-family: $heading;
  color: $black;
  padding-bottom: 20px;
  }
  div {
   background-color: $white ;
 }
}


.project_image {
  margin-top: 50px;
  margin-left: 20px;
  img {
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: $brand-secondary;
  }
}

.project_image2 {
  margin-top: 50px;
  margin-bottom: 80px;
  img {
    width: 500px;
    margin-left: auto;
    margin-right: auto
  }
  h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: $brand-secondary;
  }
}

.text {
  margin-left: 20px;
  margin-top: 20px;
  font-family: $font;
  // font-size: 14px;
}

.parallax {
  height: 800px;
  width: 100%;
  background-image: url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/hello_bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 .contenta {
  padding-top: 20px;
  // min-height: 70vh;
  background-color: $white;
  color: $black;
  text-align: right;
  font-family: Dirty_Play;
  }


.parallax1 {
  height: 700px;
  width: 100%;
  background-image: url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/lightbulbs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 .content1 {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
    h2 {
      text-align: center;
      color: $brand-secondary;
    }
  }
}

.parallax2 {
  height: 700px;
  width: 100%;
  background-image: url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/enormity.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

.content2 {
 text-align: center;
 height: 50%;
 h2 {
   text-align: center;
   color: $brand-secondary;
   padding-top: 20px;
   color: $black;
   text-align: right;
   font-family: Dirty_Play;
   }
 p {
   color: #777;
 }
 div {
  background-color: $white ;
  }
}


//
// .parallax3 {
//   height: 700px;
//   width: 100%;
//   background-image: url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/old_mic.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//  }
//
//  .content3 {
//    text-align: center;
//    height: 50%;
//    p {
//      color: #777;
//    }
//    div {
//     background-color: $white ;
//     h2 {
//       text-align: center;
//       color: $brand-secondary;
//     }
//   }
// }

.parallax4 {
  height: 700px;
  width: 100%;
  background-image: url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/thank_you2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

 .content4 {
   text-align: center;
   height: 50%;
   p {
     color: #777;
   }
   div {
    background-color: $white ;
    h2 {
      text-align: center;
      color: $brand-secondary;
    }
  }
}



#hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/pineapple_head.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  h2 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
  }
}

  #hero_phrase {
    h2 {
      font-family: Dirty_Play;
      color: white;
      font-size: 40px;
    }
    width: 300px;
    height: 400px;
    padding-top: 100px;
    margin-top: 180px;
    position: relative;
    -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
    animation-fill-mode: forwards;
  }


#projects {
  padding-top: 25px;
  h2 {
    font-size: 30px;
    color: $black;
    font-family: $heading;

  }
  img {
    margin-bottom: 5px;
  }
}

#beknowin_title {
  h1 {
    text-align: center;
    margin-top: 40px;
    border: 1px $brand-color;
    border-style: solid;
    border-width: 2px;
    border-color: $brand-color;
    border-radius: 50px;
  }
  width: 80%;
  z-index: 1;
  position: fixed;
  margin-left: auto;
  background-color: $white;
  margin-top: -40px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}




#beknow_info{
  border: 1px $brand-secondary;
  padding-top: 60px;
  margin-top: 80px;
  p {
    font-size: 18px;
  }
  h2 {
  font-family: $heading;
  color: $brand-secondary;
  padding-bottom: 20px;
  text-align: center;
  }
  div {
   background-color: $white ;
 }
}

#beknowin {
  padding-left: 20px;
  p {
    font-size: 18px;
    font-family: oxygen_light;
  }
  h1, h2 {
    font-family: goldenratio_demo;
    color: #AC1439;
    padding-bottom: 30px;
    text-align: center;
  }
}

#beknow_ending, #beknow_middle {
  text-align: center;
  padding-bottom: 60px;
  margin: 0 auto;

  h2 {
    font-family: goldenratio_demo;
    line-height: 26px;
    font-size: 22px;
    color: #AC1439;
    text-align: center;
    margin-top: 40px;
    border: 1px $brand-color;
    border-style: solid;
    border-width: 2px;
    border-color: $brand-color;
    border-radius: 50px;
    padding: 15px;
  }
}


#about {
  padding-top: 60px;
}

#logos, #moreInfo {
  h2 {
    padding-bottom: 20px;
    font-family: $heading;
  }
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  padding:0 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

#moreInfo {
  padding-top: 50px;
}

#row_2_text, #wins {
  font-family: oxygen_light;
  padding-top: 30px;
  h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: $brand-secondary;

  }
}

#wins {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-color;
  border-radius: 50px;
  background-color: $brand-color;
  padding: 40px;
  padding-bottom: 10px;
  color: $white;
  margin-top: 20px;
  text-align: justify;
  h2 {
    padding-bottom: 20px;
    font-size: 24px;
  }
}

#BetBucket_project_image2 {
  img {
    padding-bottom: 30px;
  }
  p {
    padding-bottom: 35px;
  }
}

#Piar_NT {
  h2 {
    margin-top: 30px;
  }
}

#contacts {
  padding-top: 20px;
  padding-bottom: 40px;
  h1 {
    padding-bottom: 0px;
  }
  p {
    padding-bottom: 20px;
    line-height: 30px;
  }
}

#fb {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/monkey.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  .text_box {
    position: absolute;
    left: 75%;
    top: 15%;
  }
  h2 {
    font-family: Dirty_Play;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    color: $white;
  }
}

footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: $white;
}

// london animation
svg {
  height: 350px;
  overflow: hidden;
}

body {
  background-color: #eadbd7;
}

.content {
  padding-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bus {
  animation: drive 13s linear infinite;
  -webkit-animation: drive 13s linear infinite;
  -moz-animation: drive 13s linear infinite;
  -o-animation: drive 13s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes drive {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(1500px);
  }
}

// london end

@media only screen and (max-width: 575px) {
  header {
    height: auto;
    nav {
      ul {
        li {
          display: block;
          float: none;
          text-align: right;
          &.menu {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
}

/* Turn off parallax scrolling for tablets and phones. */
@media only screen and (max-device-width: 900px) {
    .parallax .parallax1 .parallax2 .parallax3 .parallax4  {
        background-attachment: scroll;
    }
}
