@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 576px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 576px) {
    .container {
      width: 540px;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .container {
      width: 720px;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .container {
      width: 960px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
      max-width: 100%; } }

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 576px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  @media (min-width: 576px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 768px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 992px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1200px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 576px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.pull-0 {
  right: auto; }

.pull-1 {
  right: 8.33333%; }

.pull-2 {
  right: 16.66667%; }

.pull-3 {
  right: 25%; }

.pull-4 {
  right: 33.33333%; }

.pull-5 {
  right: 41.66667%; }

.pull-6 {
  right: 50%; }

.pull-7 {
  right: 58.33333%; }

.pull-8 {
  right: 66.66667%; }

.pull-9 {
  right: 75%; }

.pull-10 {
  right: 83.33333%; }

.pull-11 {
  right: 91.66667%; }

.pull-12 {
  right: 100%; }

.push-0 {
  left: auto; }

.push-1 {
  left: 8.33333%; }

.push-2 {
  left: 16.66667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.33333%; }

.push-5 {
  left: 41.66667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.33333%; }

.push-8 {
  left: 66.66667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.33333%; }

.push-11 {
  left: 91.66667%; }

.push-12 {
  left: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-sm-0 {
    right: auto; }

  .pull-sm-1 {
    right: 8.33333%; }

  .pull-sm-2 {
    right: 16.66667%; }

  .pull-sm-3 {
    right: 25%; }

  .pull-sm-4 {
    right: 33.33333%; }

  .pull-sm-5 {
    right: 41.66667%; }

  .pull-sm-6 {
    right: 50%; }

  .pull-sm-7 {
    right: 58.33333%; }

  .pull-sm-8 {
    right: 66.66667%; }

  .pull-sm-9 {
    right: 75%; }

  .pull-sm-10 {
    right: 83.33333%; }

  .pull-sm-11 {
    right: 91.66667%; }

  .pull-sm-12 {
    right: 100%; }

  .push-sm-0 {
    left: auto; }

  .push-sm-1 {
    left: 8.33333%; }

  .push-sm-2 {
    left: 16.66667%; }

  .push-sm-3 {
    left: 25%; }

  .push-sm-4 {
    left: 33.33333%; }

  .push-sm-5 {
    left: 41.66667%; }

  .push-sm-6 {
    left: 50%; }

  .push-sm-7 {
    left: 58.33333%; }

  .push-sm-8 {
    left: 66.66667%; }

  .push-sm-9 {
    left: 75%; }

  .push-sm-10 {
    left: 83.33333%; }

  .push-sm-11 {
    left: 91.66667%; }

  .push-sm-12 {
    left: 100%; }

  .offset-sm-0 {
    margin-left: 0%; }

  .offset-sm-1 {
    margin-left: 8.33333%; }

  .offset-sm-2 {
    margin-left: 16.66667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.33333%; }

  .offset-sm-5 {
    margin-left: 41.66667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.33333%; }

  .offset-sm-8 {
    margin-left: 66.66667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.33333%; }

  .offset-sm-11 {
    margin-left: 91.66667%; } }
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-md-0 {
    right: auto; }

  .pull-md-1 {
    right: 8.33333%; }

  .pull-md-2 {
    right: 16.66667%; }

  .pull-md-3 {
    right: 25%; }

  .pull-md-4 {
    right: 33.33333%; }

  .pull-md-5 {
    right: 41.66667%; }

  .pull-md-6 {
    right: 50%; }

  .pull-md-7 {
    right: 58.33333%; }

  .pull-md-8 {
    right: 66.66667%; }

  .pull-md-9 {
    right: 75%; }

  .pull-md-10 {
    right: 83.33333%; }

  .pull-md-11 {
    right: 91.66667%; }

  .pull-md-12 {
    right: 100%; }

  .push-md-0 {
    left: auto; }

  .push-md-1 {
    left: 8.33333%; }

  .push-md-2 {
    left: 16.66667%; }

  .push-md-3 {
    left: 25%; }

  .push-md-4 {
    left: 33.33333%; }

  .push-md-5 {
    left: 41.66667%; }

  .push-md-6 {
    left: 50%; }

  .push-md-7 {
    left: 58.33333%; }

  .push-md-8 {
    left: 66.66667%; }

  .push-md-9 {
    left: 75%; }

  .push-md-10 {
    left: 83.33333%; }

  .push-md-11 {
    left: 91.66667%; }

  .push-md-12 {
    left: 100%; }

  .offset-md-0 {
    margin-left: 0%; }

  .offset-md-1 {
    margin-left: 8.33333%; }

  .offset-md-2 {
    margin-left: 16.66667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.33333%; }

  .offset-md-5 {
    margin-left: 41.66667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.33333%; }

  .offset-md-8 {
    margin-left: 66.66667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.33333%; }

  .offset-md-11 {
    margin-left: 91.66667%; } }
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-lg-0 {
    right: auto; }

  .pull-lg-1 {
    right: 8.33333%; }

  .pull-lg-2 {
    right: 16.66667%; }

  .pull-lg-3 {
    right: 25%; }

  .pull-lg-4 {
    right: 33.33333%; }

  .pull-lg-5 {
    right: 41.66667%; }

  .pull-lg-6 {
    right: 50%; }

  .pull-lg-7 {
    right: 58.33333%; }

  .pull-lg-8 {
    right: 66.66667%; }

  .pull-lg-9 {
    right: 75%; }

  .pull-lg-10 {
    right: 83.33333%; }

  .pull-lg-11 {
    right: 91.66667%; }

  .pull-lg-12 {
    right: 100%; }

  .push-lg-0 {
    left: auto; }

  .push-lg-1 {
    left: 8.33333%; }

  .push-lg-2 {
    left: 16.66667%; }

  .push-lg-3 {
    left: 25%; }

  .push-lg-4 {
    left: 33.33333%; }

  .push-lg-5 {
    left: 41.66667%; }

  .push-lg-6 {
    left: 50%; }

  .push-lg-7 {
    left: 58.33333%; }

  .push-lg-8 {
    left: 66.66667%; }

  .push-lg-9 {
    left: 75%; }

  .push-lg-10 {
    left: 83.33333%; }

  .push-lg-11 {
    left: 91.66667%; }

  .push-lg-12 {
    left: 100%; }

  .offset-lg-0 {
    margin-left: 0%; }

  .offset-lg-1 {
    margin-left: 8.33333%; }

  .offset-lg-2 {
    margin-left: 16.66667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.33333%; }

  .offset-lg-5 {
    margin-left: 41.66667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.33333%; }

  .offset-lg-8 {
    margin-left: 66.66667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.33333%; }

  .offset-lg-11 {
    margin-left: 91.66667%; } }
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-xl-0 {
    right: auto; }

  .pull-xl-1 {
    right: 8.33333%; }

  .pull-xl-2 {
    right: 16.66667%; }

  .pull-xl-3 {
    right: 25%; }

  .pull-xl-4 {
    right: 33.33333%; }

  .pull-xl-5 {
    right: 41.66667%; }

  .pull-xl-6 {
    right: 50%; }

  .pull-xl-7 {
    right: 58.33333%; }

  .pull-xl-8 {
    right: 66.66667%; }

  .pull-xl-9 {
    right: 75%; }

  .pull-xl-10 {
    right: 83.33333%; }

  .pull-xl-11 {
    right: 91.66667%; }

  .pull-xl-12 {
    right: 100%; }

  .push-xl-0 {
    left: auto; }

  .push-xl-1 {
    left: 8.33333%; }

  .push-xl-2 {
    left: 16.66667%; }

  .push-xl-3 {
    left: 25%; }

  .push-xl-4 {
    left: 33.33333%; }

  .push-xl-5 {
    left: 41.66667%; }

  .push-xl-6 {
    left: 50%; }

  .push-xl-7 {
    left: 58.33333%; }

  .push-xl-8 {
    left: 66.66667%; }

  .push-xl-9 {
    left: 75%; }

  .push-xl-10 {
    left: 83.33333%; }

  .push-xl-11 {
    left: 91.66667%; }

  .push-xl-12 {
    left: 100%; }

  .offset-xl-0 {
    margin-left: 0%; }

  .offset-xl-1 {
    margin-left: 8.33333%; }

  .offset-xl-2 {
    margin-left: 16.66667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.33333%; }

  .offset-xl-5 {
    margin-left: 41.66667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.33333%; }

  .offset-xl-8 {
    margin-left: 66.66667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.33333%; }

  .offset-xl-11 {
    margin-left: 91.66667%; } }
@font-face {
  font-family: goldenratio_demo;
  src: url("../assets/fonts/goldenratio_demo.ttf"); }
@font-face {
  font-family: "oxygen_light";
  src: url("../assets/fonts/oxygen_light.ttf"); }
@font-face {
  font-family: "punktype";
  src: url("../assets/fonts/punktype.ttf"); }
@font-face {
  font-family: "Dirty_Play";
  src: url("../assets/fonts/Dirty_Play.ttf"); }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0px; }
  to {
    left: 200px; } }
@keyframes mymove {
  from {
    left: 0px; }
  to {
    left: 200px; } }
* {
  font-family: inherit; }

body, p {
  font-size: 18px;
  font-family: oxygen_light; }

a {
  color: black;
  text-decoration: none; }

h1, h2, h3 {
  margin-top: 0; }

h2 {
  font-size: 30px;
  color: #AC1439;
  font-family: goldenratio_demo; }

h3 {
  font-size: 10px;
  font-family: oxygen_light;
  font-weight: 300; }

ol, ul, li {
  font-family: oxygen_light;
  font-size: 18px;
  line-height: 32px; }

header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 40px;
  background-color: rgba(20, 20, 20, 0);
  transition: background-color 0.2s ease; }
  header.opaque {
    background-color: rgba(20, 20, 20, 0.6); }
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    header nav ul li {
      display: inline-block;
      float: right;
      margin-left: 20px;
      line-height: 40px; }
      header nav ul li:last-of-type {
        margin-left: 0; }
      header nav ul li.menu {
        color: #FFF;
        cursor: pointer;
        display: none;
        font-size: 20px; }
      header nav ul li a {
        color: #21618C;
        outline-style: solid;
        background-color: #EAECEE;
        outline-color: #E74C3C;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative; }
        header nav ul li a:after {
          content: "";
          height: 2px;
          width: 100%;
          background-color: grey;
          position: absolute;
          bottom: -4px;
          left: 0;
          opacity: 0;
          transition: opacity 0.2s ease; }
        header nav ul li a:hover:after {
          opacity: 1; }

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid #18B89D; }
  section:last-of-type {
    border-bottom: 0; }
  section h2 {
    font-size: 24px; }

.top_home {
  width: 100%;
  height: 100%; }

.heading-styles, h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 2px; }

.project_title {
  width: 100%;
  z-index: 1;
  position: fixed;
  margin-left: 0px;
  background-color: #FFF;
  margin-top: -100px;
  padding-top: 80px; }
  .project_title img {
    float: left; }
  .project_title h1 {
    font-family: goldenratio_demo;
    text-align: left;
    padding-top: 10px; }

.project_tech_top {
  border: 1px #AC1439;
  padding-top: 50px;
  text-align: justify;
  margin-top: 100px;
  margin-left: 20px; }
  .project_tech_top h2 {
    font-family: goldenratio_demo;
    color: #232425;
    padding-bottom: 20px; }
  .project_tech_top div {
    background-color: #FFF; }

.project_tech {
  border: 1px #AC1439;
  text-align: justify;
  margin-left: 20px; }
  .project_tech h2 {
    font-family: goldenratio_demo;
    color: #232425;
    padding-bottom: 20px; }
  .project_tech div {
    background-color: #FFF; }

.project_image {
  margin-top: 50px;
  margin-left: 20px; }
  .project_image img {
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black; }
  .project_image h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: #AC1439; }

.project_image2 {
  margin-top: 50px;
  margin-bottom: 80px; }
  .project_image2 img {
    width: 500px;
    margin-left: auto;
    margin-right: auto; }
  .project_image2 h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: #AC1439; }

.text {
  margin-left: 20px;
  margin-top: 20px;
  font-family: oxygen_light; }



.contenta {
  padding-top: 20px;
  background-color: #FFF;
  color: #232425;
  text-align: right;
  font-family: Dirty_Play; }

.parallax1 {
  height: 700px;
  width: 100%;
  background-image: url("https://i.imgur.com/UiiwaZX.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.content1 {
  text-align: center;
  height: 50%; }
  .content1 p {
    color: #777; }
  .content1 div {
    background-color: #FFF; }
    .content1 div h2 {
      text-align: center;
      color: #AC1439; }

.parallax2 {
  height: 700px;
  width: 100%;
  background-image: url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/enormity.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.content2 {
  text-align: center;
  height: 50%; }
  .content2 h2 {
    text-align: center;
    color: #AC1439;
    padding-top: 20px;
    color: #232425;
    text-align: right;
    font-family: Dirty_Play; }
  .content2 p {
    color: #777; }
  .content2 div {
    background-color: #FFF; }

.parallax4 {
  height: 700px;
  width: 100%;
  background-image: url("https://i.imgur.com/838VSTQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.content4 {
  text-align: center;
  height: 50%; }
  .content4 p {
    color: #777; }
  .content4 div {
    background-color: #FFF; }
    .content4 div h2 {
      text-align: center;
      color: #AC1439; }

#hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://image.ibb.co/fiEyUe/40484268_518405915254475_6952478117126471680_n.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; }
  #hero h2 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF; }

#hero_phrase {
  width: 300px;
  height: 400px;
  padding-top: 100px;
  margin-top: 180px;
  position: relative;
  -webkit-animation: mymove 5s;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s;
  animation-fill-mode: both; }
  #hero_phrase h2 {
    font-family: Dirty_Play;
    color: white;
    font-size: 40px; }

#projects {
  padding-top: 25px; }
  #projects h2 {
    font-size: 30px;
    color: #232425;
    font-family: goldenratio_demo; }
  #projects img {
    margin-bottom: 5px; }

#beknowin_title {
  width: 80%;
  z-index: 1;
  position: fixed;
  margin-left: auto;
  background-color: #FFF;
  margin-top: -40px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center; }
  #beknowin_title h1 {
    text-align: center;
    margin-top: 40px;
    border: 1px #18B89D;
    border-style: solid;
    border-width: 2px;
    border-color: #18B89D;
    border-radius: 50px; }

#beknow_info {
  border: 1px #AC1439;
  padding-top: 60px;
  margin-top: 80px; }
  #beknow_info p {
    font-size: 18px; }
  #beknow_info h2 {
    font-family: goldenratio_demo;
    color: #AC1439;
    padding-bottom: 20px;
    text-align: center; }
  #beknow_info div {
    background-color: #FFF; }

#beknowin {
  padding-left: 20px; }
  #beknowin p {
    font-size: 18px;
    font-family: oxygen_light; }
  #beknowin h1, #beknowin h2 {
    font-family: goldenratio_demo;
    color: #AC1439;
    padding-bottom: 30px;
    text-align: center; }

#beknow_ending, #beknow_middle {
  text-align: center;
  padding-bottom: 60px;
  margin: 0 auto; }
  #beknow_ending h2, #beknow_middle h2 {
    font-family: goldenratio_demo;
    line-height: 26px;
    font-size: 22px;
    color: #AC1439;
    text-align: center;
    margin-top: 40px;
    border: 1px #18B89D;
    border-style: solid;
    border-width: 2px;
    border-color: #18B89D;
    border-radius: 50px;
    padding: 15px; }

#about {
  padding-top: 60px;
 }

span{
  color: #E74C3C;
}

#logos, #moreInfo {
  border-style: solid;
  border-width: 2px;
  border-color: #21618C;
  border-radius: 50px;
  padding: 0 60px;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px; }
  #logos h2, #moreInfo h2 {
    padding-bottom: 20px;
    font-family: goldenratio_demo; }

#moreInfo {
  padding-top: 50px; }

#row_2_text, #wins {
  font-family: oxygen_light;
  padding-top: 30px; }
  #row_2_text h3, #wins h3 {
    font: oxygen_light;
    font-size: 20px;
    font-weight: bold;
    color: #AC1439; }

#wins {
  border-style: solid;
  border-width: 2px;
  border-color: #18B89D;
  border-radius: 50px;
  background-color: #18B89D;
  padding: 40px;
  padding-bottom: 10px;
  color: #FFF;
  margin-top: 20px;
  text-align: justify; }
  #wins h2 {
    padding-bottom: 20px;
    font-size: 24px; }

#BetBucket_project_image2 img {
  padding-bottom: 30px; }
#BetBucket_project_image2 p {
  padding-bottom: 35px; }

#Piar_NT h2 {
  margin-top: 30px; }

#contacts {
  padding-top: 20px;
  padding-bottom: 40px; }
  #contacts h1 {
    padding-bottom: 0px; }
  #contacts p {
    padding-bottom: 20px;
    line-height: 30px; }

#fb {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://s3-eu-west-1.amazonaws.com/beknowin-portfolio/monkey.jpg");
  background-position: center;
  background-size: cover;
  position: relative; }
  #fb .text_box {
    position: absolute;
    left: 75%;
    top: 15%; }
  #fb h2 {
    font-family: Dirty_Play;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF; }

footer {
  background-color: #141414;
  padding: 10px 0;
  text-align: center;
  color: #FFF; }

svg {
  height: 350px;
  overflow: hidden; }

body {
  background-color: #eadbd7; }

.content {
  padding-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#bus {
  animation: drive 13s linear infinite;
  -webkit-animation: drive 13s linear infinite;
  -moz-animation: drive 13s linear infinite;
  -o-animation: drive 13s linear infinite;
  transform-origin: 50% 50%; }

  .proj-container {
  position: relative;
  padding: 20px;
}

.proj-image {
  max-width: 100%;
  width: 100%!important!;
  height: auto;

}

.text {
  position: absolute;
  margin: 0;
  right: 20px;
  bottom: 40px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 16px;
  padding: 100px;
  text-align: center;
}

.proj-container:hover .text {
  opacity: 0.7;

@keyframes drive {
  0% {
    transform: translateX(-300px); }
  100% {
    transform: translateX(1500px); } }
@media only screen and (max-width: 575px) {
  header {
    height: auto; }
    header nav ul li {
      display: block;
      float: none;
      text-align: right; }
      header nav ul li.menu {
        display: block; }
    header nav ul .dropdown {
      display: none; } }
/* Turn off parallax scrolling for tablets and phones. */
@media only screen and (max-device-width: 900px) {
  .parallax .parallax1 .parallax2 .parallax3 .parallax4 {
    background-attachment: scroll; } }

/*# sourceMappingURL=style.css.map */
