h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.NoPadding {
  padding: 0px;
}
@media only screen and (min-width: 1200px) {
  .font_size {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1199px) {
  .font_size {
    font-size: 19px;
  }
}
@media only screen and (max-width: 991px) {
  .font_size {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .font_size {
    font-size: 16px;
  }
}
.Contact--Block {
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  .Contact--Block {
    background-image: url('https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif');
    padding: 150px 0 100px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .Contact--Block {
    background-image: url('../img/purple-stars.jpg');
    padding: 75px 0 75px 0;
  }
}
@media only screen and (max-width: 991px) {
  .Contact--Block {
    background-image: url('../img/purple-stars.jpg');
    padding: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  .Contact--Block {
    background-image: none;
    background-color: #171219;
    padding: 0;
  }
}
.Contact--Block .container .Form-Box {
  text-align: center;
  background-color: #171219;
  border: 2px solid white;
  margin: 0 auto;
  color: white;
}
@media only screen and (min-width: 1200px) {
  .Contact--Block .container .Form-Box {
    padding: 25px 0;
    width: 500px;
  }
}
@media only screen and (max-width: 1199px) {
  .Contact--Block .container .Form-Box {
    padding: 25px 0;
    width: 400px;
  }
}
@media only screen and (max-width: 991px) {
  .Contact--Block .container .Form-Box {
    padding: 25px 0;
    width: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .Contact--Block .container .Form-Box {
    width: 100%;
  }
}
.Contact--Block .container .Form-Box .Contact_Img_Box {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .Contact--Block .container .Form-Box .Contact_Img_Box {
    width: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .Contact--Block .container .Form-Box .Contact_Img_Box {
    width: 180px;
  }
}
.Contact--Block .container .Form-Box .Contact_Img_Box img {
  width: 100%;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
}
.Contact--Block .container .Form-Box .Align {
  display: block;
}
@media only screen and (min-width: 1200px) {
  .Contact--Block .container .Form-Box .Align {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .Contact--Block .container .Form-Box .Align {
    padding: 20px 0 10px 0;
  }
}
.Contact--Block .container .Form-Box .Align a:hover {
  text-decoration: none;
}
.Contact--Block .container .Form-Box .Align a {
  display: inline-block;
  color: unset;
}
@media only screen and (min-width: 1200px) {
  .Contact--Block .container .Form-Box .Align a {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .Contact--Block .container .Form-Box .Align a {
    padding: 0 20px;
  }
}
.Contact--Block .container .Form-Box .Align a h2,
.Contact--Block .container .Form-Box .Align a h4,
.Contact--Block .container .Form-Box .Align a h5 {
  font-family: 'Montserrat';
}
.Skills--Block {
  background-color: #63374B;
  background-color: #171219;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block {
    padding: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block {
    padding: 50px 25px;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block {
    padding: 50px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .Skills--Block {
    padding: 10px;
  }
}
.Skills--Block .Skills_Inner_Box {
  background-color: white !important;
  overflow: hidden;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box {
    padding: 25px 25px;
  }
}
@media only screen and (max-width: 767px) {
  .Skills--Block .Skills_Inner_Box {
    padding-bottom: 10px;
  }
}
.Skills--Block .Skills_Inner_Box .Skill-Heading {
  text-align: center;
  color: #2874A6;
  padding: 0;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading {
    padding-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading {
    padding-bottom: 20px;
  }
}
.Skills--Block .Skills_Inner_Box .Skill-Heading h1 {
  font-family: 'Montserrat';
  font-weight: 800;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading h1 {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading h1 {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading h1 {
    font-size: 22px;
  }
}
.Skills--Block .Skills_Inner_Box .Skill-Heading h5 {
  color: #b4bcc2;
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading h5 {
    width: 450px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .Skills--Block .Skills_Inner_Box .Skill-Heading h5 {
    width: 100%;
  }
}
.Skills--Block .Skills_Inner_Box .Skills_Thumbnail {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail {
    padding: 0;
  }
}
.Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width {
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width {
    width: 350px;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width {
    width: 280px;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width {
    width: 210px;
  }
}
@media only screen and (max-width: 767px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width {
    width: 100%;
  }
}
.Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width h3.Skill_Title {
  font-family: 'Montserrat';
  border: 1px dashed #63374B;
  text-align: center;
  color: #2874A6;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width h3.Skill_Title {
    margin: 25px auto 10px auto;
    padding: 25px 0;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width h3.Skill_Title {
    margin: 10px auto;
    padding: 20px 0;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width h3.Skill_Title {
    font-size: 20px;
  }
}
.Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item {
  background-color: #CB4335;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item {
    margin-bottom: 5px;
  }
}
.Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item .Text {
  color: white;
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item .Text {
    padding: 15px;
  }
}
@media only screen and (max-width: 1199px) {
  .Skills--Block .Skills_Inner_Box .Skills_Thumbnail .Width .Skill_Item .Text {
    padding: 15px;
  }
}
.About--Block {
  background-color: white;
}
@media only screen and (min-width: 1200px) {
  .About--Block {
    padding: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block {
    padding: 50px 25px;
  }
}
@media only screen and (max-width: 991px) {
  .About--Block {
    padding: 25px 15px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .About--Block {
    padding-bottom: 25px;
  }
}
.About--Block .About-Inner {
  color: black;
  background-color: white;
  overflow: hidden;
}
@media only screen and (min-width: 1200px) {
  .About--Block .About-Inner {
    padding: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block .About-Inner {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 991px) {
  .About--Block .About-Inner {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 767px) {
  .About--Block .About-Inner {
    padding: 0;
  }
}
.About--Block .About-Inner .About-Heading {
  text-align: center;
  padding: 0;
}
.About--Block .About-Inner .About-Heading h1 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #2874A6;
}
@media only screen and (min-width: 1200px) {
  .About--Block .About-Inner .About-Heading h1 {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block .About-Inner .About-Heading h1 {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .About--Block .About-Inner .About-Heading h1 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .About--Block .About-Inner .About-Heading h1 {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #171219;
    color: white;
    border-bottom: 1px dashed white;
  }
}
.About--Block .About-Inner .About-Content {
  padding: 0;
}
.About--Block .About-Inner .About-Content .Left-Bio {
  padding: 0;
}
@media only screen and (min-width: 1200px) {
  .About--Block .About-Inner .About-Content .Left-Bio {
    width: 300px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block .About-Inner .About-Content .Left-Bio {
    width: 250px;
  }
}
@media only screen and (max-width: 991px) {
  .About--Block .About-Inner .About-Content .Left-Bio {
    width: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .About--Block .About-Inner .About-Content .Left-Bio {
    width: 100%;
  }
}
.About--Block .About-Inner .About-Content .Left-Bio img {
  border: 10px solid #171219;
}
@media only screen and (min-width: 1200px) {
  .About--Block .About-Inner .About-Content .Left-Bio img {
    width: 230px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block .About-Inner .About-Content .Left-Bio img {
    width: 200px;
  }
}
@media only screen and (max-width: 991px) {
  .About--Block .About-Inner .About-Content .Left-Bio img {
    width: 180px;
  }
}
@media only screen and (max-width: 767px) {
  .About--Block .About-Inner .About-Content .Left-Bio img {
    width: 100%;
    margin-bottom: 15px;
  }
}
.About--Block .About-Inner .About-Content .Right-Bio {
  padding: 0;
}
@media only screen and (min-width: 1200px) {
  .About--Block .About-Inner .About-Content .Right-Bio {
    width: 608px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block .About-Inner .About-Content .Right-Bio {
    width: 550px;
  }
}
@media only screen and (max-width: 991px) {
  .About--Block .About-Inner .About-Content .Right-Bio {
    width: 450px;
  }
}
@media only screen and (max-width: 767px) {
  .About--Block .About-Inner .About-Content .Right-Bio {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .About--Block .About-Inner .About-Content .Right-Bio h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 1199px) {
  .About--Block .About-Inner .About-Content .Right-Bio h1 {
    font-size: 16px;
    line-height: 24px;
  }
}
.Portfolios_OUTER {
  overflow: hidden;
  background-color: #171219;
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER {
    padding: 120px 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER {
    padding: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .Portfolios_OUTER {
    padding: 25px 15px;
  }
}
.Portfolios_OUTER .Portfolio-Heading {
  padding: 0;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio-Heading {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER .Portfolio-Heading {
    padding-bottom: 35px;
  }
}
.Portfolios_OUTER .Portfolio-Heading h1 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: white;
}
@media only screen and (max-width: 991px) {
  .Portfolios_OUTER .Portfolio-Heading h1 {
    font-size: 26px;
  }
}
.Portfolios_OUTER .Portfolio--Block:nth-of-type(5) {
  padding-bottom: 0 !important;
}
.Portfolios_OUTER .Portfolio--Block {
  color: white;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio--Block {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER .Portfolio--Block {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail {
    padding: 10px;
    border: 1px dashed white;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail {
    padding: 10px;
  }
}
.Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_picture-container {
  width: 100%;
  background-size: cover;
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_picture-container {
    height: 200px;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_picture-container {
    height: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_picture-container {
    height: 130px;
  }
}
@media only screen and (max-width: 767px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_picture-container {
    height: 200px;
  }
}
.Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail {
  background-color: #171219;
  color: white;
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail {
    padding: 15px;
    padding-left: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail {
    padding: 15px;
    padding-left: 0;
  }
}
.Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail h3 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail h3 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 1199px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail h3 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 991px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail h3 {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail p {
    margin-top: 30px;
  }
}
.Portfolios_OUTER .Portfolio--Block .Portfolio_Thumbnail .Project_detail p i {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  color: white;
}

.proj-container {
  position: relative;
  padding: 20px;
}

.proj-image {
  max-width: 100%;
  width: 100%!important!;
  height: auto;

}

.text {
  position: absolute;
  margin: 0;
  left: 1px;
  top: 20px;
  bottom: 40px;
  background: rgb(0, 0, 0);
  background: rgba(0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 16px;
  height: 190px;
}

.proj-container:hover .text {
  opacity: 0.7;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.Align {
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-name: Align;
}
